/* entire section */
.MovieFrontSection {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
/* background image */
.mediaImage {
    min-height: 250px;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}
/* actor name and character name */
.actorName, .actorCharName{
    margin-bottom: 0;
    text-align: start;
    font-size: 16px;
    color: white;
}
/* actor name */
.actorName{
    font-weight: bold;
}
/* character name */
.actorCharName{
    font-size: 12px;
}
