/* popular */
.popular {
    padding-left: 15px;
    margin-top: 12px;
}

/* title, see all */
.title h2,
.title a {
    font-size: 14px;
}

/* title box */
.title {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-right: 8px;
}

/* title */
.title h2 {
    font-weight: 500;
    margin-bottom: 5px;
}

/* see all link */
.title a {
    font-weight: 200;
    margin-bottom: 0;
    color: rgb(0, 195, 255);
    text-decoration: none;
}

/* hover over see all link */
.popular div h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* unordered list */
.popular ul {
    height: 175px;
    list-style-type: none;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px 0;
    margin-top: 0px;
}

/* list items */
.popular li {
    margin-right: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* list items */
.popular p {
    font-size: 10px;
    text-align: center;
}

/* scrollbar */
/* width */
.popular ul::-webkit-scrollbar {
    height: 8px;
}

/* Handle */
.popular ul::-webkit-scrollbar-thumb {
    background: #3c3c3c;
}

/* Handle hover*/
.popular ul::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* scrollbar */
    /* width */
    .popular ul::-webkit-scrollbar {
        height: 8px;
    }

    /* Handle */
    .popular ul::-webkit-scrollbar-thumb {
        background: #3c3c3c;
    }

    /* title, see all */
    .title h2,
    .title a {
        font-size: 22px;
        margin-top: 8px;
    }

    /* unordered list */
    .popular ul {
        height: 350px;
    }

    /* list items */
    .popular p {
        font-size: 16px;
    }

}