/* login container */
.loginContainer {
    color: white;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 20px;
}

/* title subheading - h3 */
.loginContainer h3 {
    font-size: 1rem;
    margin: 0 0 5px 0;
    color: #ffffff; /* Muted gray text */
    font-weight: 900; /* Extra black/bold */
    letter-spacing: -0.05em; /* Tight letter tracking */

}

/* paragraph - p */
.loginContainer p {
    color: rgb(184, 184, 184);
}

/******************************************** form */
.loginContainer form {
    display: flex;
    flex-direction: column;
    background-color: #014949e1;
    padding: 20px 24px 25px 24px;
    border-radius: 6px;
}

/* form title */
.loginContainer form h4 {
    margin-top: 8px;
    margin-bottom: 24px;
}

/* form inputs*/
.loginContainer form input {
    padding: 14px 12px;
    background-color: rgba(0, 0, 0, 0);
    border: .5px solid rgb(255, 255, 255);
    border-radius: 6px;
    color: white;
    outline: none;
    margin-bottom: 16px;
}

/* form input placeholder*/
.loginContainer form input::placeholder {
    color: white;
}

/* form input on focus */
.loginContainer input:focus {
    background-color: rgb(39, 39, 39);
    border: 2px solid rgb(119, 132, 252);
}

/* forgot pasword container */
.loginContainer div:first-of-type {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
}


/* forgot password link */
.loginContainer div a {
    color: white;
    font-size: 12px;
}

/* form buttons */
.loginContainer form button {
    padding: 13px;
    border: none;
    box-shadow: black 2px 2px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* form Login button*/
.loginContainer form button:first-of-type {
    background-color: green;
}

/* form sign up button*/
.loginContainer form button:last-of-type {
    background-color: #CE9E00;
    box-shadow: black 2px 2px;
}

@media only screen and (min-width:768px) {
    .loginContainer {
        margin-bottom: 20px;
    }

    /************************************** form */
    .loginContainer form {
        display: flex;
        flex-direction: column;
        background-color: #014949e1;
        padding: 24px 24px 50px 24px;
        border-radius: 6px;
    }

    /* form title */
    .loginContainer form h4 {
        font-size: 1.5rem;
    }

    /* form inputs*/
    .emailInput,
    .passwordInput {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* forgot pasword container */
    .checkboxpasswordContainer {
        width: 80%;
        margin: 0 auto;
        flex-grow: 0;
    }

    .checkboxContainer label {
        width: 150px;
        text-align: start;
    }

    /* form button Login*/
    .loginContainer form button:first-of-type,
    .loginContainer form button:last-of-type {
        width: 60%;
        margin: 0 auto;
    }

}