/* top rated */
.topRated {
    padding-left: 15px;
}

/* title box */
.title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 8px;
}

/* title, see all */
.title h2,
.title a {
    font-size: 14px;
}

/* title */
.title h2 {
    font-weight: 500;
    margin-bottom: 5px;
}

/* see all link */
.title a {
    font-weight: 200;
    margin-bottom: 0;
    color: rgb(0, 195, 255);
    text-decoration: none;
}

/* hover over see all link */
.topRated div h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* unordered list */
.topRated ul {
    height: 175px;
    list-style-type: none;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
}

/* list items */
.topRated li {
    margin-right: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* list items title */
.topRated p {
    font-size: 10px;
    text-align: center;
}

/* scrollbar */
/* width */
.topRated ul::-webkit-scrollbar {
    height: 8px;
}

/* Handle */
.topRated ul::-webkit-scrollbar-thumb {
    background: #3c3c3c;
}

/* Handle hover */
.topRated ul::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
 }
 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* scrollbar */
    /* width */
    .topRated ul::-webkit-scrollbar {
        height: 8px;
    }


    /* Handle */
    .topRated ul::-webkit-scrollbar-thumb {
        background: #3c3c3c;
    }

    /* title, see all */
    .title h2,
    .title h4 {
        font-size: 22px;
    }

    /* unordered list */
    .topRated ul {
        height: 350px;
    }

    /* list items */
    .topRated p {
        font-size: 16px;
    }

}